<div class="row">
  <div class="input-group col-8">
    <span class="input-group-addon">Id: {{contact.id}}</span>
    <span class="input-group-addon">Name:</span>
    <input type="text" class="form-control" [(ngModel)]="contact.firstName"/>
    <span class="input-group-addon">Last Name:</span>
    <input type="text" class="form-control" [(ngModel)]="contact.lastName"/>
  </div>
  <!-- TODO: implement button clicks -->
  <div class="col-4">
    <button type="button" class="btn btn-outline-success"
            ex-start
            (click)="onSave()"
            [disabled]="!isValid()"
            ex-end>Save
    </button>
    <button type="button" class="btn btn-outline-danger"
            ex-start
            (click)="onCancel()"
            ex-end>Cancel
    </button>
  </div>
</div>
