<h4>Add new contact</h4>

<!-- TODO: add reactive form validation using form groups and named controls. See steps in readme file -->
<form [formGroup]="form" novalidate>
  <div class="form-group">
    <label class="form-control-label" for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName"
           (keyup.Enter)="save()">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName"
           (keyup.Enter)="save()">
  </div>
</form>

<button type="button" class="btn btn-primary" (click)="save()">Save</button>
<button type="button" class="btn btn-secondary" (click)="clear()">Clear</button>
