<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <!-- TODO: display a list of contacts using the tr below and ngFor -->
  <tr>
    <th scope="row">
      <!-- id -->
    </th>
    <td>
      <!-- first name -->
    </td>
    <td>
      <!-- last name -->
    </td>
    <td>
      <!-- TODO: handle 'edit' and 'delete' using the buttons below -->
      <button type="button" class="btn btn-sm btn-outline-success">Edit</button>
      <button type="button" class="btn btn-sm btn-outline-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
