<div class="form-group d-flex">
  <input type="text" class="form-control" placeholder="Filter contacts" [formControl]="term">
  <a role="button" href="" class="btn btn-primary ml-3" routerLink="../create">New Contact</a>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of contacts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    <th scope="row">{{ c.id }}</th>
    <td>{{ c.firstName }}</td>
    <td>{{ c.lastName }}</td>
    <td>
      <a role="button" href="" class="btn btn-sm btn-outline-success" [routerLink]="['../edit', c.id]">Edit</a>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="onRemove(c)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<ngb-pagination class="d-flex justify-content-center" [(page)]="page" [collectionSize]="contacts.length" [pageSize]="pageSize"></ngb-pagination>
